.container {
    float: left;
    margin-top: 3rem;
}

body {
    font-size: 1.2rem;
    background-color: whitesmoke;

}

.card-body {
    padding: 2rem;
    margin-top: 2rem;
    background-color: lightsalmon;
}


.h5, h5 {
    font-size: 2.5rem;
}


.card-title {
    margin-bottom: .95rem;
}

